<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Surf's Up</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>Surf's Up</h1>
        <br>
        <a class="btn btn-primary btn-lg" href="/api/v1.0/precipitation" role="button">Precipitation</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/api/v1.0/stations" role="button">Stations</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/api/v1.0/tobs" role="button">Observations</a>
      </div>
    </div>
</body>
</html>